/* 
    Created on : May 25, 2014, 12:13:09 PM
    Author     : gregbueno
*/

.nav-icon-list {
	list-style: none;
	li {
		float: left;
		a {
		    position: relative;
		    display: block;
		    padding: 10px 15px;
		}
	}
}

.site-info {
  padding-bottom: 1em;
}

.comment-list {
  list-style: none;
  padding-bottom: 1em;
}

.comment-author {
  position: relative;
  .avatar {
    height: 34px;
    top: 2px;
    width: 34px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px;
    position: absolute;
    left: 0;
  }
}

.comment-author, .comment-awaiting-moderation, .comment-content, .comment-list .reply, .comment-metadata {
  padding-left: 50px;
}

.comments-title {
  padding-bottom: 1em;
}

.says {
  display: none;
}

.wp-block-image-fix {
  img {
    height: auto;
  }
}
